html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Employee Schedule
        link(rel='stylesheet', href='https://bootswatch.com/4/lux/bootstrap.min.css')
        nav 
          a.navbar-brand Employee Schedule
          a(href = "/") Home
          a(href = "/users/register") Register
          a(href = "/users/login") Login
    
    body